apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-api
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: spring-boot-api
  template:
    metadata:
      labels:
        app: spring-boot-api
    spec:
      containers:
        - name: spring-boot-api
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - containerPort: 8081
            - containerPort: 8082
            - containerPort: 8083
          envFrom:
            - secretRef:
                name: spring-boot-secrets
          command: ["sh", "-c"]
          args:
            - |
            while true; do echo -e "HTTP/1.1 200 OK\n\nHello from API endpoint" | nc -l -p 8081 & echo -e "HTTP/1.1 200 OK\n\nHello from Logs endpoint" | nc -l -p 8082 & echo -e "HTTP/1.1 200 OK\n\nHello from SOAP endpoint" | nc -l -p 8083 & wait; done
          #   - "--spring.profiles.active=dev"
          # lifecycle:
          #   preStop:
          #     exec:
          #       command: ["wget", "http://localhost:8081/service/shutdown"]
          # readinessProbe:
          #   tcpSocket:
          #     port: 8081
          # livenessProbe:
          #   tcpSocket:
          #     port: 8081
          resources:
            requests:
              memory: "256Mi"
              cpu: "500m"
            limits:
              memory: "512Mi"
              cpu: "1000m"
          volumeMounts:
            - name: config-volume
              mountPath: /app/config.json
              subPath: config.json
      volumes:
        - name: config-volume
          configMap:
            name: spring-boot-config
