apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: spring-boot-api-appset
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - cluster: dev-cluster-0
            valuesFile: dev-global-cluster-0-values.yaml
            env: dev
          # - cluster: prd-global-cluster-5
          #   namespace: prd-namespace
          #   valuesFile: prd-global-cluster-5-values.yaml
  template:
    metadata:
      name: '{{cluster}}-spring-boot-api'
    spec:
      project: default
      source:
        repoURL: https://github.com/QuerQue/devops_cd_ip.git
        targetRevision: HEAD
        path: charts
        helm:
          valueFiles:
            - '{{env}}/{{valuesFile}}'
      destination:
        server: '{{cluster}}'
        namespace: '{{env}}-namespace'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
