apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: spring-boot-api-appset
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - cluster: dev-cluster-0
            url: https://09A8DECE0750EEC3F791FDF83AAAED93.gr7.eu-central-1.eks.amazonaws.com
            valuesFile: dev-global-cluster-0-values.yaml
            env: dev
          - cluster: prd-cluster-0
            url: https://09A8DECE0750EEC3F791FDF83AAAED93.gr7.eu-central-1.eks.amazonaws.com
            valuesFile: prd-global-cluster-5-values.yaml
            env: prd
  template:
    metadata:
      name: '{{cluster}}-spring-boot-api'
    spec:
      project: default
      source:
        repoURL: https://github.com/QuerQue/devops_cd_ip.git
        targetRevision: HEAD
        path: charts/spring-boot-api
        helm:
          valueFiles:
            - '{{env}}/{{valuesFile}}'
      destination:
        server: '{{url}}'
        namespace: '{{env}}-namespace'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
